In [6]:
import pandas as pd
data = pd.read_csv("./data/dsc_fc_summed_spectra_2020_v01.csv", \
delimiter = ',', parse_dates=[0], na_values='0', \
infer_datetime_format=True, \
header = None)

label1 = pd.read_csv("./data/2020Q1_DGD.csv", \
delimiter = ',', parse_dates=[0], \
infer_datetime_format=True, \
header = None)

label2 = pd.read_csv("./data/2020Q2_DGD.csv", \
delimiter = ',', parse_dates=[0], \
infer_datetime_format=True, \
header = None)

label3 = pd.read_csv("./data/2020Q3_DGD.csv", \
delimiter = ',', parse_dates=[0], \
infer_datetime_format=True, \
header = None)

label4 = pd.read_csv("./data/2020Q4_DGD.csv", \
delimiter = ',', parse_dates=[0], \
infer_datetime_format=True, \
header = None)

/var/folders/tx/xsb7n6wx3m3_hgtjstktffs80000gn/T/ipykernel_92136/2893459992.py:2: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  data = pd.read_csv("./data/dsc_fc_summed_spectra_2020_v01.csv", \
/var/folders/tx/xsb7n6wx3m3_hgtjstktffs80000gn/T/ipykernel_92136/2893459992.py:7: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  label1 = pd.read_csv("./data/2020Q1_DGD.csv", \
/var/folders/tx/xsb7n6wx3m3_hgtjstktffs80000gn/T/ipykernel_92136/2893459992.py:7: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  label1 = pd.read_csv("./data/2020Q1_DGD.csv", \
/var/folders/tx/xsb7n6wx3m3_hgtjstktffs80000gn/T/ipykernel_92136/2893459992.py:12: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  label2 = pd.read_csv("./data/2020Q2_DGD.csv", \
/var/folders/tx/xsb7n6wx3m3_hgtjstktffs80000gn/T/ipykernel_92136/2893459992.py:12: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  label2 = pd.read_csv("./data/2020Q2_DGD.csv", \
/var/folders/tx/xsb7n6wx3m3_hgtjstktffs80000gn/T/ipykernel_92136/2893459992.py:17: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  label3 = pd.read_csv("./data/2020Q3_DGD.csv", \
/var/folders/tx/xsb7n6wx3m3_hgtjstktffs80000gn/T/ipykernel_92136/2893459992.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  label3 = pd.read_csv("./data/2020Q3_DGD.csv", \
/var/folders/tx/xsb7n6wx3m3_hgtjstktffs80000gn/T/ipykernel_92136/2893459992.py:22: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  label4 = pd.read_csv("./data/2020Q4_DGD.csv", \
/var/folders/tx/xsb7n6wx3m3_hgtjstktffs80000gn/T/ipykernel_92136/2893459992.py:22: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  label4 = pd.read_csv("./data/2020Q4_DGD.csv", \

In [7]:
labels = pd.concat([label1, label2, label3, label4], ignore_index=True, sort=False)

In [8]:
data.size

24183360

In [9]:
data.fillna('0', inplace=True)

In [10]:
data.iloc[:, 1:49] = data.iloc[:, 1:49].apply(pd.to_numeric, errors='coerce')

grouped_by_day = data.groupby(data.iloc[:, 0].dt.date)
day_dataframes = [group for _, group in grouped_by_day]

filtered_data0003 = []

filtered_data0306 = []

filtered_data0609 = []

filtered_data0912 = []

filtered_data1215 = []

filtered_data1518 = []

filtered_data1821 = []

filtered_data2123 = []

counter = 0
for day_df in day_dataframes:
    filtered_data0003.append(day_df[day_df.iloc[:, 0].dt.hour.between(0, 2)])

    filtered_data0306.append(day_df[day_df.iloc[:, 0].dt.hour.between(3, 5)])

    filtered_data0609.append(day_df[day_df.iloc[:, 0].dt.hour.between(6, 8)])

    filtered_data0912.append(day_df[day_df.iloc[:, 0].dt.hour.between(9, 11)])

    filtered_data1215.append(day_df[day_df.iloc[:, 0].dt.hour.between(12, 14)])

    filtered_data1518.append(day_df[day_df.iloc[:, 0].dt.hour.between(15, 17)])

    filtered_data1821.append(day_df[day_df.iloc[:, 0].dt.hour.between(18, 20)])

    filtered_data2123.append(day_df[day_df.iloc[:, 0].dt.hour.between(21, 23)])
    counter += 1

In [11]:
mean_val1 = []
mean_val2 = []
mean_val3 = []
mean_val4 = []
mean_val5 = []
mean_val6 = []
mean_val7 = []
mean_val8 = []

for i in range(311):
    mean_val1.append(filtered_data0003[i].iloc[:, 1:49].mean(axis=0).values)
    mean_val2.append(filtered_data0306[i].iloc[:, 1:49].mean(axis=0).values)
    mean_val3.append(filtered_data0609[i].iloc[:, 1:49].mean(axis=0).values)
    mean_val4.append(filtered_data0912[i].iloc[:, 1:49].mean(axis=0).values)
    mean_val5.append(filtered_data1215[i].iloc[:, 1:49].mean(axis=0).values)
    mean_val6.append(filtered_data1518[i].iloc[:, 1:49].mean(axis=0).values)
    mean_val7.append(filtered_data1821[i].iloc[:, 1:49].mean(axis=0).values)
    mean_val8.append(filtered_data2123[i].iloc[:, 1:49].mean(axis=0).values)

In [12]:
mean_val2[0]

array([3.8107355000000003, -1.9185921111111097, 0.3562674956666667, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,
       0.0, 0.0, 0.0, 0.0, 0.0], dtype=object)

In [13]:
sum = []

for i in range(311):
    sum.append(pd.DataFrame([mean_val1[i], mean_val2[i], mean_val3[i], mean_val4[i], mean_val5[i], mean_val6[i], mean_val7[i], mean_val8[i]], columns=data.columns[1:49]).astype(str))

In [14]:
sum[0]

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,48
0,3.743139611111113,-1.7453320500000005,-0.09027723151666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.8107355000000003,-1.9185921111111097,0.3562674956666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.126327666666667,-1.048211594444445,0.5624192355000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.872449472222221,-1.9870318388888886,-0.21568646555555546,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.815778777777778,-1.6170664666666659,0.11151597866666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,3.247966055555556,-0.6738210188888891,0.42698228666666665,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,3.098512888888886,-1.2162829133333335,0.26739942772222225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,3.505577277777775,-1.0348612511111113,-0.06844686555555554,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
sorted_df = pd.concat(sum).reset_index(drop=True)

In [16]:
sorted_df

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,48
0,3.743139611111113,-1.7453320500000005,-0.09027723151666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.8107355000000003,-1.9185921111111097,0.3562674956666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.126327666666667,-1.048211594444445,0.5624192355000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.872449472222221,-1.9870318388888886,-0.21568646555555546,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.815778777777778,-1.6170664666666659,0.11151597866666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2483,-0.12032895555555567,-0.8425215116666662,0.5978537276111108,35.284063333333336,0.2593102666666664,33.49888388888888,35.55578055555558,55.66307555555555,46.95401555555554,55.964914444444474,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2484,-0.8891119038888889,-0.9926265402222223,0.222668428888889,38.068741111111116,0.2696034944444446,33.476967777777766,36.37692222222221,61.32444333333333,50.593615555555544,60.70308444444447,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2485,-0.8575922298888888,-1.5208163427777779,-0.17299531777777796,43.21426055555554,0.29991106111111165,30.768869444444437,33.71664499999999,68.41786,55.98023944444448,64.3466966666667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2486,0.6829002322222218,-0.9465150132777777,0.05532093338888882,36.97416166666668,0.25838764444444434,42.01192222222222,38.32426500000002,54.73010444444447,52.66074777777777,80.3296872222222,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2487,1.181123496183334,-0.16441391111111123,0.48781959000000025,18.410726666666665,0.1197250999999998,22.091523888888894,20.87331611111112,28.510348333333333,26.174248333333335,40.56894166666665,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
import pandas as pd

# Assuming you have a DataFrame data containing your data
# You can read your data using: data = pd.read_csv('your_data.csv', delimiter='\t', header=None)

data.iloc[:, 1:49] = data.iloc[:, 1:49].apply(pd.to_numeric, errors='coerce')

data.iloc[:, 0] = pd.to_datetime(data.iloc[:, 0])

# Filter rows with the hour between 00:00 and 03:00
filtered_data0003 = data[data.iloc[:, 0].dt.hour.between(0, 2)]

filtered_data0306 = data[data.iloc[:, 0].dt.hour.between(3, 5)]

filtered_data0609 = data[data.iloc[:, 0].dt.hour.between(6, 8)]

filtered_data0912 = data[data.iloc[:, 0].dt.hour.between(9, 11)]

filtered_data1215 = data[data.iloc[:, 0].dt.hour.between(12, 14)]

filtered_data1518 = data[data.iloc[:, 0].dt.hour.between(15, 17)]

filtered_data1821 = data[data.iloc[:, 0].dt.hour.between(18, 20)]

filtered_data2123 = data[data.iloc[:, 0].dt.hour.between(21, 23)]

# Calculate the column-wise average for columns 5 to 48 in the filtered data

grouped_by_day1 = filtered_data0003.groupby(filtered_data0003.iloc[:, 0].dt.date)
day_dataframes1 = [group for _, group in grouped_by_day1]
grouped_by_day2 = filtered_data0306.groupby(filtered_data0306.iloc[:, 0].dt.date)
day_dataframes2 = [group for _, group in grouped_by_day2]
grouped_by_day3 = filtered_data0609.groupby(filtered_data0609.iloc[:, 0].dt.date)
day_dataframes3 = [group for _, group in grouped_by_day3]
grouped_by_day4 = filtered_data0912.groupby(filtered_data0912.iloc[:, 0].dt.date)
day_dataframes4 = [group for _, group in grouped_by_day4]
grouped_by_day5 = filtered_data1215.groupby(filtered_data1215.iloc[:, 0].dt.date)
day_dataframes5 = [group for _, group in grouped_by_day5]
grouped_by_day6 = filtered_data1518.groupby(filtered_data1518.iloc[:, 0].dt.date)
day_dataframes6 = [group for _, group in grouped_by_day6]
grouped_by_day7 = filtered_data1821.groupby(filtered_data1821.iloc[:, 0].dt.date)
day_dataframes7 = [group for _, group in grouped_by_day7]
grouped_by_day8 = filtered_data2123.groupby(filtered_data2123.iloc[:, 0].dt.date)
day_dataframes8 = [group for _, group in grouped_by_day8]

for i in range(311):
    average_values1 = day_dataframes1[i].iloc[:, 1:49].mean(axis=0).values


average_values1
# average_values2 = filtered_data0609.iloc[:, 1:49].mean(axis=0).values
# average_values3 = filtered_data0306.iloc[:, 1:49].mean(axis=0).values
# average_values4 = filtered_data0003.iloc[:, 1:49].mean(axis=0).values
# average_values5 = filtered_data0609.iloc[:, 1:49].mean(axis=0).values
# average_values6 = filtered_data0306.iloc[:, 1:49].mean(axis=0).values
# average_values7 = filtered_data0306.iloc[:, 1:49].mean(axis=0).values
# average_values8 = filtered_data0306.iloc[:, 1:49].mean(axis=0).values

# # Create a new DataFrame with a single row containing the row-wise average values as strings
average_values_df = pd.DataFrame([average_values1, average_values2, average_values3, average_values4, average_values5, average_values6, average_values7], columns=data.columns[1:49]).astype(str)

NameError: name 'average_values2' is not defined

In [290]:
average_values_df

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,48
0,0.014562230856017542,-0.09867413351018775,0.015199285844461835,30.75435487761672,9.489421015274988,55.41571459255105,61.27170380319832,93.4425465561994,103.31313362818828,150.68659587492078,...,23.919618363701307,23.069484994640973,10.90158896034299,10.00108545909253,6.528529456948913,5.2355627724187155,3.2362190067881382,3.442928956770273,1.2167993211861379,1.0319983922829588
1,0.06905348972120648,-0.4119523545661466,-0.09430962056003951,28.002952289567826,8.954691998216706,53.06847208036858,60.22163168972915,92.67286342054258,102.9993347711334,149.43194489996478,...,19.88658694176492,19.852940157198965,10.811948231511233,10.121327420507317,7.4339702036441615,5.990712915326907,2.8401546802429456,2.2399225259021085,0.23893404787424083,0.163219096105752
2,0.13892615427068541,-0.05302655049644282,-0.013214632082491597,30.13325871346953,9.287174249324956,54.915985973722776,60.61087845130425,93.73393105591273,104.87831854891054,154.93019707125796,...,24.695540032154323,24.569951268310106,12.159566952482997,11.57100903894247,7.984056645230422,6.349790264380134,3.7087715076813144,3.6934959271168286,1.3619058949624874,1.1103593962129337
3,0.014562230856017542,-0.09867413351018775,0.015199285844461835,30.75435487761672,9.489421015274988,55.41571459255105,61.27170380319832,93.4425465561994,103.31313362818828,150.68659587492078,...,23.919618363701307,23.069484994640973,10.90158896034299,10.00108545909253,6.528529456948913,5.2355627724187155,3.2362190067881382,3.442928956770273,1.2167993211861379,1.0319983922829588
4,0.06905348972120648,-0.4119523545661466,-0.09430962056003951,28.002952289567826,8.954691998216706,53.06847208036858,60.22163168972915,92.67286342054258,102.9993347711334,149.43194489996478,...,19.88658694176492,19.852940157198965,10.811948231511233,10.121327420507317,7.4339702036441615,5.990712915326907,2.8401546802429456,2.2399225259021085,0.23893404787424083,0.163219096105752
5,0.13892615427068541,-0.05302655049644282,-0.013214632082491597,30.13325871346953,9.287174249324956,54.915985973722776,60.61087845130425,93.73393105591273,104.87831854891054,154.93019707125796,...,24.695540032154323,24.569951268310106,12.159566952482997,11.57100903894247,7.984056645230422,6.349790264380134,3.7087715076813144,3.6934959271168286,1.3619058949624874,1.1103593962129337
6,0.13892615427068541,-0.05302655049644282,-0.013214632082491597,30.13325871346953,9.287174249324956,54.915985973722776,60.61087845130425,93.73393105591273,104.87831854891054,154.93019707125796,...,24.695540032154323,24.569951268310106,12.159566952482997,11.57100903894247,7.984056645230422,6.349790264380134,3.7087715076813144,3.6934959271168286,1.3619058949624874,1.1103593962129337

In [262]:
# Group the data by day
grouped_by_day = filtered_data0003.groupby(filtered_data0003.iloc[:, 0].dt.date)

# Create separate DataFrames for each day
day_dataframes = [group for _, group in grouped_by_day]
avg_dataframes = []

In [270]:
day_dataframes[310]

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
446400,2020-12-31 00:00:00,-1.41799,-1.45351,-2.34107,48.8031,0.231726,2.94161,34.1122,97.6115,42.2234,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
446401,2020-12-31 00:01:00,-1.64569,-1.22707,-2.35508,48.5788,0.231726,5.31834,36.666,94.5116,36.6823,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
446402,2020-12-31 00:02:00,-1.40321,-1.98105,-1.93573,50.1965,0.231726,3.00926,26.8869,90.0329,43.9587,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
446403,2020-12-31 00:03:00,-1.54602,-1.15916,-1.96119,44.552,0.231726,3.37295,38.1153,94.5488,43.5481,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
446404,2020-12-31 00:04:00,-1.63238,-1.02947,-2.2076,45.5298,0.231726,6.04391,35.9625,91.1046,43.093,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446575,2020-12-31 02:55:00,0.730918,-2.67919,0.125929,59.8082,0.669427,5.72236,10.4242,59.7171,64.4101,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
446576,2020-12-31 02:56:00,1.11988,-2.01473,0.595805,64.8969,0.56344,5.056,15.5742,75.3251,63.5554,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
446577,2020-12-31 02:57:00,0.790662,-2.27563,0.348828,73.4749,0.245627,0.231726,14.3082,87.0696,64.7973,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
446578,2020-12-31 02:58:00,0.826284,-2.24145,0.290539,66.1129,0.598425,8.99822,11.6044,67.2721,62.9699,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
446579,2020-12-31 02:59:00,0.86534,-2.16882,0.58127,59.183,0.644614,6.27642,12.5135,67.8211,65.424,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [282]:
day_dataframes[147].iloc[:, 1:]

,1,2,3,4,5,6,7,8,9,10,...,44,45,46,47,48,49,50,51,52,53
211680,0.00000,0.000000,0.00000,0.0,0.0,0.000,0.0000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
211681,0.00000,0.000000,0.00000,0.0,0.0,0.000,0.0000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
211682,0.00000,0.000000,0.00000,0.0,0.0,0.000,0.0000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
211683,0.00000,0.000000,0.00000,0.0,0.0,0.000,0.0000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
211684,0.00000,0.000000,0.00000,0.0,0.0,0.000,0.0000,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211855,-3.09192,-0.522500,2.36916,0.0,0.0,103.465,98.3412,121.300,112.205,156.882,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
211856,-3.26344,-0.073975,2.37178,0.0,0.0,0.000,97.9480,120.376,110.873,147.890,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
211857,-2.85514,0.749227,2.50966,0.0,0.0,0.000,96.1697,119.811,108.970,143.697,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
211858,-2.95522,0.864380,2.48642,0.0,0.0,0.000,96.0885,118.147,108.320,142.487,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
211859,-2.63808,1.222050,2.51250,0.0,0.0,0.000,98.5791,120.886,109.959,144.625,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [280]:
a = []
for i in range(311):
    day_dataframes[i].iloc[:, 1:49] = data.iloc[:, 1:49].apply(pd.to_numeric, errors='coerce')
    print(i)

    a = day_dataframes[i].iloc[:, 1:].mean()

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147

TypeError: can only concatenate str (not "float") to str

In [253]:
import pandas as pd

# Create a list to store the new DataFrames with averaged values
averaged_dataframes = []

average_values = []

# Iterate through the list of DataFrames
for df in range(311):

    averaged_values[df] = day_dataframes[df].iloc[:, 1:].mean()

print(average_values)

TypeError: can only concatenate str (not "float") to str

In [254]:
average_values

[]

In [211]:
filtered_data0003.reset_index(drop=True)

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,2020-02-25 00:00:00,4.04158,-0.337277,0.278823,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
1,2020-02-25 00:01:00,4.02179,-0.469653,0.141173,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
2,2020-02-25 00:02:00,3.98937,-0.655307,0.15147,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
3,2020-02-25 00:03:00,3.89345,-0.96626,-0.149979,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
4,2020-02-25 00:04:00,3.83742,-0.969013,-0.514656,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55975,2020-12-31 02:55:00,0.730918,-2.67919,0.125929,59.8082,0.669427,5.72236,10.4242,59.7171,64.4101,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
55976,2020-12-31 02:56:00,1.11988,-2.01473,0.595805,64.8969,0.56344,5.056,15.5742,75.3251,63.5554,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
55977,2020-12-31 02:57:00,0.790662,-2.27563,0.348828,73.4749,0.245627,0.231726,14.3082,87.0696,64.7973,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
55978,2020-12-31 02:58:00,0.826284,-2.24145,0.290539,66.1129,0.598425,8.99822,11.6044,67.2721,62.9699,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0
55979,2020-12-31 02:59:00,0.86534,-2.16882,0.58127,59.183,0.644614,6.27642,12.5135,67.8211,65.424,...,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0

In [212]:
filtered_data0003.iloc[7019]

0     2020-04-03 02:59:00
1                 2.98151
2                -4.54013
3                -1.41547
4                     0.0
5                     0.0
6                     0.0
7                     0.0
8                     0.0
9                     0.0
10                    0.0
11                    0.0
12                200.189
13                134.071
14                268.166
15                285.913
16                 348.03
17                382.688
18                 456.93
19                471.876
20                485.382
21                415.516
22                449.236
23                427.215
24                393.995
25                415.521
26                409.041
27                316.446
28                358.509
29                278.592
30                351.937
31                    0.0
32                    0.0
33                    0.0
34                    0.0
35                    0.0
36                    0.0
37                    0.0
38                    0.0
39                    0.0
40                    0.0
41                    0.0
42                    0.0
43                    0.0
44                    0.0
45                    0.0
46                    0.0
47                    0.0
48                    0.0
49                      0
50                      0
51                      0
52                      0
53                      0
Name: 54899, dtype: object

In [90]:
# import pandas as pd

# # Assuming you have your data in a DataFrame called 'data'

# # Convert the first column to datetime if it's not already
# data[0] = pd.to_datetime(data[0])

# # Define the list of hours and minutes you want to filter
# hours_and_minutes_to_filter = [(0, 0), (3, 0), (6, 0), (9, 0), (12, 0), (15, 0), (18, 0), (21, 0)]

# # Filter the DataFrame to keep rows with specified hours and minutes
# filtered_data = data[data[0].apply(lambda x: (x.hour, x.minute) in hours_and_minutes_to_filter)]

# # Sort the filtered DataFrame by the timestamp (the first column)
# sorted_filtered_data = filtered_data.sort_values(by=0)

# # Filter out non-numeric columns (specify the numeric data types you are interested in)
# numeric_data = sorted_filtered_data.select_dtypes(include=['int64', 'float64'])

# # Calculate the average of each column for each time range
# averages = {}
# for start_hour, end_hour in zip([0, 6, 12, 18, 21], [3, 9, 15, 21, 23]):
#     time_range_data = numeric_data[
#         (numeric_data[0].dt.hour >= start_hour) & (numeric_data[0].dt.hour < end_hour)
#     ]
#     average_values = time_range_data.mean()
#     averages[f"{start_hour}-{end_hour}"] = average_values

# # 'averages' now contains the average values for each numeric column in each time range

In [1334]:
sorted_filtered_data.fillna(sorted_filtered_data.mean(), inplace=True)  # Fill NaN with column means in-place

In [1335]:
sorted_filtered_data = sorted_filtered_data.iloc[:, :-5] 
sorted_filtered_data

,0,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,2020-02-25 00:00:00,4.041580,-0.337277,0.278823,59.05245,17.454071,88.615692,95.365307,137.313668,147.754747,...,367.504913,394.398773,354.010128,366.911222,347.979578,400.854419,332.435167,394.774462,343.00875,321.1525
1,2020-02-25 03:00:00,3.915680,-1.932700,0.332478,59.05245,17.454071,88.615692,95.365307,137.313668,147.754747,...,367.504913,394.398773,354.010128,366.911222,347.979578,400.854419,332.435167,394.774462,343.00875,321.1525
2,2020-02-25 06:00:00,4.216620,-1.376540,1.105810,59.05245,17.454071,88.615692,95.365307,137.313668,147.754747,...,367.504913,394.398773,354.010128,366.911222,347.979578,400.854419,332.435167,394.774462,343.00875,321.1525
3,2020-02-25 09:00:00,3.676980,-1.049160,0.269667,59.05245,17.454071,88.615692,95.365307,137.313668,147.754747,...,367.504913,394.398773,354.010128,366.911222,347.979578,400.854419,332.435167,394.774462,343.00875,321.1525
4,2020-02-25 12:00:00,3.736940,-0.705284,0.535216,59.05245,17.454071,88.615692,95.365307,137.313668,147.754747,...,367.504913,394.398773,354.010128,366.911222,347.979578,400.854419,332.435167,394.774462,343.00875,321.1525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2483,2020-12-31 09:00:00,0.992265,0.814637,-0.362030,29.18380,0.231726,34.389500,34.695100,48.086800,39.961800,...,367.504913,394.398773,354.010128,366.911222,347.979578,400.854419,332.435167,394.774462,343.00875,321.1525
2484,2020-12-31 12:00:00,-0.144851,-1.682480,0.853751,38.21520,0.231726,32.994900,40.106500,64.676500,49.136900,...,367.504913,394.398773,354.010128,366.911222,347.979578,400.854419,332.435167,394.774462,343.00875,321.1525
2485,2020-12-31 15:00:00,-2.099870,-0.714662,0.318633,38.05880,0.231726,33.467800,41.863500,73.135700,50.761200,...,367.504913,394.398773,354.010128,366.911222,347.979578,400.854419,332.435167,394.774462,343.00875,321.1525
2486,2020-12-31 18:00:00,-0.402692,-0.115860,2.702800,38.47540,0.333527,42.047200,29.398900,46.859100,54.479500,...,367.504913,394.398773,354.010128,366.911222,347.979578,400.854419,332.435167,394.774462,343.00875,321.1525
2487,2020-12-31 21:00:00,1.946080,0.395044,-0.829250,35.13780,0.231726,42.458200,40.049500,54.959800,50.046300,...,367.504913,394.398773,354.010128,366.911222,347.979578,400.854419,332.435167,394.774462,343.00875,321.1525

In [1337]:
labels = labels[55: 366]

In [1338]:
labels.reset_index(drop=True, inplace=True)

In [1339]:
labels

     0  1  2  3  4  5  6  7
0    2  0  1  0  1  0  0  0
1    1  1  1  0  1  1  2  1
2    2  1  1  1  1  0  1  1
3    2  2  1  1  1  1  1  2
4    2  2  2  2  2  3  2  4
..  .. .. .. .. .. .. .. ..
306  2  2  1  2  2  1  1  2
307  2  2  2  2  2  1  1  2
308  3  2  1  1  1  2  1  3
309  3  3  2  2  2  1  1  3
310  2  1  0  1  0  0  1  1

[311 rows x 8 columns]

In [329]:
labels = labels.stack()

labels =pd.DataFrame(labels, columns=["Stacked_Column"])

In [330]:
labels.reset_index(drop=True, inplace=True)

In [331]:
labels

     Stacked_Column
0                 0
1                 0
2                 0
3                 1
4                 1
...             ...
2923              1
2924              0
2925              0
2926              1
2927              1

[2928 rows x 1 columns]

In [332]:
X = sorted_df
Y = labels

In [333]:
Y

     Stacked_Column
0                 0
1                 0
2                 0
3                 1
4                 1
...             ...
2923              1
2924              0
2925              0
2926              1
2927              1

[2928 rows x 1 columns]

In [334]:
X = X.iloc[:, 1:]

In [335]:
Y

     Stacked_Column
0                 0
1                 0
2                 0
3                 1
4                 1
...             ...
2923              1
2924              0
2925              0
2926              1
2927              1

[2928 rows x 1 columns]

In [336]:
X

,2,3,4,5,6,7,8,9,10,11,...,39,40,41,42,43,44,45,46,47,48
0,-1.7453320500000005,-0.09027723151666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.9185921111111097,0.3562674956666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,-1.048211594444445,0.5624192355000002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-1.9870318388888886,-0.21568646555555546,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-1.6170664666666659,0.11151597866666667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2483,-0.8425215116666662,0.5978537276111108,35.284063333333336,0.2593102666666664,33.49888388888888,35.55578055555558,55.66307555555555,46.95401555555554,55.964914444444474,52.073733333333315,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2484,-0.9926265402222223,0.222668428888889,38.068741111111116,0.2696034944444446,33.476967777777766,36.37692222222221,61.32444333333333,50.593615555555544,60.70308444444447,53.036714999999994,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2485,-1.5208163427777779,-0.17299531777777796,43.21426055555554,0.29991106111111165,30.768869444444437,33.71664499999999,68.41786,55.98023944444448,64.3466966666667,50.79259611111109,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2486,-0.9465150132777777,0.05532093338888882,36.97416166666668,0.25838764444444434,42.01192222222222,38.32426500000002,54.73010444444447,52.66074777777777,80.3296872222222,66.49076166666666,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2487,-0.16441391111111123,0.48781959000000025,18.410726666666665,0.1197250999999998,22.091523888888894,20.87331611111112,28.510348333333333,26.174248333333335,40.56894166666665,35.357207222222215,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [1317]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [1318]:
X_test, X_test, Y_test, Y_test = train_test_split(X, Y, test_size=0.2, shuffle=False)

scaler = StandardScaler()
X_test = scaler.fit_transform(X_test)

X_test = scaler.fit_transform(X_test)

In [1319]:
X_test = X_test.reshape(X_test.shape[0], 1, X_test.shape[1])

X_test = X_test.reshape(X_test.shape[0], 1, X_test.shape[1])

ValueError: cannot reshape array of size 23904 into shape (498,1,1)

In [1320]:
X_test = X_train.astype(np.float32)
Y_train = Y_test.astype(np.float32)
Y_test = Y_test.astype(np.float32)
Y_test = Y_test.astype(np.float32)

In [1321]:

model = keras.Sequential()

model.add(keras.layers.LSTM(units=64, input_shape=(X_test.shape[1], X_test.shape[2]), return_sequences=True))
model.add(keras.layers.Dropout(0.7))  # Increased dropout rate

model.add(keras.layers.Dense(units=1))

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

model.summary()

Model: "sequential_58"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_49 (LSTM)              (None, 1, 64)             28928

 dropout_33 (Dropout)        (None, 1, 64)             0

 dense_44 (Dense)            (None, 1, 1)              65

=================================================================
Total params: 28,993
Trainable params: 28,993
Non-trainable params: 0
_________________________________________________________________

2023-10-08 06:44:37.395874: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_2_grad/concat/split_2/split_dim' with dtype int32
	 [[{{node gradients/split_2_grad/concat/split_2/split_dim}}]]
2023-10-08 06:44:37.397452: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_grad/concat/split/split_dim' with dtype int32
	 [[{{node gradients/split_grad/concat/split/split_dim}}]]
2023-10-08 06:44:37.398079: I tensorflow/core/common_runtime/executor.cc:1197] [/device:CPU:0] (DEBUG INFO) Executor start aborting (this does not indicate an error and you can ignore this message): INVALID_ARGUMENT: You must feed a value for placeholder tensor 'gradients/split_1_grad/concat/split_1/split_dim' with dtype int32
	 [[{{node gradients/split_1_grad/concat/split_1/split_dim}}]]

In [1324]:
history = model.fit(
    X_train, Y_test ,
    epochs=100,  # Adjust the number of epochs as needed
    batch_size=64,  # Adjust the batch size as needed
    validation_data=(X_test, Y_test),
    verbose=1
)

ValueError: Data cardinality is ambiguous:
  x sizes: 1990
  y sizes: 498
Make sure all arrays contain the same number of samples.

In [1325]:
Y_pred = model.predict(X_test)

Y_pred = np.array(Y_pred).reshape(-1)
Y_test = np.array(Y_test).reshape(-1)

# Calculate evaluation metrics
mse = mean_squared_error(Y_test, Y_pred)
mae = mean_absolute_error(Y_test, Y_pred)

print(f"Mean Squared Error (MSE): {mse}")
print(f"Mean Absolute Error (MAE): {mae}")

63/63 [==============================] - 0s 534us/step

ValueError: Found input variables with inconsistent numbers of samples: [498, 1990]

In [1326]:

count = -1
for k in Y_test:
    count +=1
    if k > 5:
        print(count)

In [1327]:
print(Y_pred[100])

-0.13959561